<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include("partials/nav.ejs") %>
    
    <h2>NASA POD: COMING SOON</h2>
    <footer>
        <%- include("partials/footer.ejs") %>
    </footer>
</body>
</html>